@(message: String)
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.js"></script>
<script src="http://www.chartjs.org/assets/Chart.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>

<script type="text/javascript">
//JavaScript Document
var p = {

    0: "100K",
    1: "150K",
    2: "200K",
    3: "250K",
    4: "300K",
    5: "350K",
    6: "400K",
    7: "450K",
    8: "500K",
    9: "550K",
    10: "600K",
    11: "650K",
    12: "700K",
    13: "750K",
    14: "800K",
    15: "850K",
    16: "900K",
    17: "950K",
    18: "1,000K",
    19: "1,100K",
    20: "1,200K",
    21: "1,300K",
    22: "1,400K",
    23: "1,500K",
    24: "1,600K",
    25: "1,700K",
    26: "1,800K",
    27: "19,00K",
    28: "2,000K",
};

var t = {

    0: "100000",
    1: "150000",
    2: "200000",
    3: "250000",
    4: "300000",
    5: "350000",
    6: "400000",
    7: "450000",
    8: "500000",
    9: "550000",
    10: "600000",
    11: "650000",
    12: "700000",
    13: "750000",
    14: "800000",
    15: "850000",
    16: "900000",
    17: "950000",
    18: "1000000",
    19: "1100000",
    20: "1200000",
    21: "1300000",
    22: "1400000",
    23: "1500000",
    24: "1600000",
    25: "1700000",
    26: "1800000",
    27: "1900000",
    28: "2000000",

}

var obj = {
    '24month' : {
        'quarterly' : '1.41',
        'monthly' : '1.28',
        'weekly' : '1.2'
    },
    '18month' : {
        'quarterly' : '1.38',
        'monthly' : '1.25',
        'weekly' : '1.8'
    },
    '12month' : {

        'quarterly' : '1.35',
        'monthly' : '1.225',
        'weekly' : '1.15'
    }
};

$(document).ready(function() {

   
});
        

</script>


<script type="text/javascript">
$(function () {
    $('#watthot_container').highcharts({
        title: {
            text: 'Watthot Energy Usage Analysis'
        },
        xAxis: {
            categories: ['Utility 1', 'Utility 2', 'Utility 3', 'Utility 4', 'Utility 5']
        },
        labels: {
            items: [{
                html: '',
                style: {
                    left: '50px',
                    top: '18px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        series: [{
            type: 'column',
            name: 'Summer',
            data: [3, 2, 1, 3, 4]
        }, {
            type: 'column',
            name: 'Winder',
            data: [2, 3, 5, 7, 6]
        }, {
            type: 'spline',
            name: 'Average',
            data: [3, 2.67, 3, 6.33, 3.33],
            marker: {
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[3],
                fillColor: 'white'
            }
        }, {
            type: 'pie',
            name: 'Total consumption',
            data: [{
                name: 'Jane',
                y: 13,
                color: Highcharts.getOptions().colors[0] // Jane's color
            }, {
                name: 'John',
                y: 23,
                color: Highcharts.getOptions().colors[1] // John's color
            }, {
                name: 'Joe',
                y: 19,
                color: Highcharts.getOptions().colors[2] // Joe's color
            }],
            center: [100, 80],
            size: 100,
            showInLegend: false,
            dataLabels: {
                enabled: false
            }
        }]
    });
});


</script>

<style type="text/css">
table {
    table-layout: fixed;
    word-wrap: break-word;
}
</style>
</head>


<body>
  <!-- http://www.w3schools.com/bootstrap/bootstrap_forms_inputs.asp -->

  <div class="container">
  <h3>WattHot Estimator - Charge your Electric Car at the right time, Control your energy spends.</h3>
  
  <table class="table table-bordered">
    <thead>
      <tr class="success">
        <th><center>Your Energy Wheel</center></th>
        <th><center>WattHot Analysis</center></th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="height:10%">>	
        	<div style="overflow: auto;"></div>
			<form class="form-horizontal" role="form">
				<p class="text-primary"><h2 class="text-primary bg-success">HOME</h2></p>
    			<div class="form-group">
      				<div class="col-sm-6">
      					<label or="email">Email</label>
      					<input type="email" class="form-control" id="email" placeholder="Enter email">
     	 			</div>
    			</div>
    			<div class="form-group">
      				<div class="col-sm-6">
      					<label for="pwd">Zipcode</label>
      					<input type="password" class="form-control" id="pwd" placeholder="Enter password">
      				</div>
    			</div>
    			
				<div class="form-group">
    				<div class="col-sm-6">
  					<label for="sel1">Rooms in your house</label>
  					<select class="form-control" id="sel1">
    					<option>1</option>
    					<option>2</option>
    					<option>3</option>
    					<option>4</option>
  					</select>
  					</div>
				</div>
				<div class="form-group">
    				<div class="col-sm-6">
  					<label for="sel1">People in your house during day time</label>
  					<select class="form-control" id="sel1">
    					<option>1</option>
    					<option>2</option>
    					<option>3</option>
    					<option>4</option>
  					</select>
  					</div>
				</div>
				<div class="form-group">
    				<div class="col-sm-6">
  					<label for="sel1">People in your house during night time</label>
  					<select class="form-control" id="sel1">
    					<option>1</option>
    					<option>2</option>
    					<option>3</option>
    					<option>4</option>
  					</select>
  					</div>
				</div>
				
				
				<p class="text-primary"><h2 class="text-primary bg-success">ENERGY</h2></p>
				<div class="form-group">
    				<div class="col-sm-6">
  					<label for="sel1">Do you have an Electric Vehicle currently on your electricity bill?</label>
  					<select class="form-control" id="sel1">
    					<option>Yes</option>
    					<option>No</option>
    				</select>
  					</div>
				</div>
				
				<div class="form-group">
      				<div class="col-sm-6">
      					<label or="email">What is your average electricity monthly bill(in $)?</label>
      					<input type="email" class="form-control" id="email" placeholder="Price USD">
     	 			</div>
    			</div>
				
				<div class="form-group">
    				<div class="col-sm-6">
  					<label for="sel1">Who is your energy provider?</label>
  					<select class="form-control" id="sel1">
    					<option>Bear Valley Electric Service</option>
						<option>Liberty Utilities</option>
						<option>Pacific Gas and Electric Company (PG&E)</option>
						<option>PacifiCorp</option>
						<option>San Diego Gas & Electric (SDG&E)</option>
						<option>Southern California Edison (SCE)</option>
						<option>Alameda Municipal Power</option>
						<option>Anaheim, City of Public Utilities Department</option>
						<option>Azusa Light and Water</option>
						<option>Banning, City of Electric Department</option>
						<option>Biggs Municipal Utilities</option>
						<option>Burbank Water and Power</option>
						<option>CCSF (also called the Power Enterprise of the San Francisco Public Utilities Commission)</option>
						<option>Colton Public Utilities</option>
						<option>Corona, City of Department of Water and Power</option>
						<option>Kirkwood Meadows Public Utility District</option>
						<option>I don't know</option>
  					</select>
  					</div>
				</div>
				
				<div class="form-group">
    				<div class="col-sm-6">
  					<label for="sel1">What is your rate plan?</label>
  					<select class="form-control" id="sel1">
    					<option value="I don't know">I don't know</option>
						<option value="ETOU-A">ETOU-A</option>
						<option value="ETOU-B">ETOU-B</option>
						<option value="EV">EV</option>
						<option value="E1">E1</option>
					</select>
  					</div>
				</div>
				
				<p class="text-primary"><h2 class="text-primary bg-success">LOAD</h2></p>
				<div class="form-group">
      				<div class="col-sm-6">
        				<label class="checkbox-inline"><input type="checkbox" value="">Dish Washer</label>
						<label class="checkbox-inline"><input type="checkbox" value="">Washing Maching</label>
						<label class="checkbox-inline"><input type="checkbox" value="">Clothes Dryer</label>
    				</div>
    			</div>
    			<div class="form-group">
      				<div class="col-sm-6">
        				<label class="checkbox-inline"><input type="checkbox" value="">Cooking Stove</label>
						<label class="checkbox-inline"><input type="checkbox" value="">Electric HVAC</label>
						<label class="checkbox-inline"><input type="checkbox" value="">Pool Pump</label>
      				</div>
    			</div>
								
				<p class="text-primary"><h2 class="text-primary bg-success">ELECTRIC VEHICLE</h2></p>
				<div class="form-group">
    				<div class="col-sm-6">
  					<label for="sel1">Select the model of your Electric Vehicle:</label>
  					<select class="form-control" id="sel1">
    					
						<option value="Azure+Dynamics,Transit+Connect+Electric+Van,2012">Azure Dynamics Transit Connect Electric Van 2012</option>
						<option value="Azure+Dynamics,Transit+Connect+Electric+Wagon,2012">Azure Dynamics Transit Connect Electric Wagon 2012</option>
						
						<option value="BMW,Active+E,2011">BMW Active E 2011</option>
						<option value="BMW,i3+BEV,2014">BMW i3 BEV 2014</option>
						<option value="BMW,i3+BEV,2015">BMW i3 BEV 2015</option>
						<option value="BMW,i3+BEV,2016">BMW i3 BEV 2016</option>
						
						<option value="BYD,e6,2012">BYD e6 2012</option>
						<option value="BYD,e6,2013">BYD e6 2013</option>
						<option value="BYD,e6,2014">BYD e6 2014</option>
						<option value="BYD,e6,2015">BYD e6 2015</option>
						
						<option value="Chevrolet,Spark+EV,2014">Chevrolet Spark EV 2014</option>
						<option value="Chevrolet,Spark+EV,2015">Chevrolet Spark EV 2015</option>
						<option value="Chevrolet,Spark+EV,2016">Chevrolet Spark EV 2016</option>
						
						<option value="CODA Automotive,CODA,2012">CODA Automotive CODA 2012</option>
						<option value="CODA Automotive,CODA,2013">CODA Automotive CODA 2013</option>
						
						<option value="Fiat,500e,2013">Fiat 500e 2013</option>
						<option value="Fiat,500e,2014">Fiat 500e 2014</option>
						<option value="Fiat,500e,2015">Fiat 500e 2015</option>
						<option value="Fiat,500e,2016">Fiat 500e 2016</option>
						
						<option value="Ford,Focus+Electric,2012">Ford Focus Electric 2012</option>
						<option value="Ford,Focus+Electric,2013">Ford Focus Electric 2013</option>
						<option value="Ford,Focus+Electric,2014">Ford Focus Electric 2014</option>
						<option value="Ford,Focus+Electric,2015">Ford Focus Electric 2015</option>
						
						<option value="Honda,Fit+EV,2013">Honda Fit EV 2013</option>
						<option value="Honda,Fit+EV,2014">Honda Fit EV 2014</option>
						
						<option value="Kia,Soul+Electric,2015">Kia Soul Electric 2015</option>
						<option value="Kia,Soul+Electric,2016">Kia Soul Electric 2016</option>
						
						<option value="Mercedes-Benz,B-Class+Electric+Drive,2014">Mercedes-Benz B-Class Electric Drive 2014</option>
						<option value="Mercedes-Benz,B-Class+Electric+Drive,2015">Mercedes-Benz B-Class Electric Drive 2015</option>
						<option value="Mercedes-Benz,B250e,2016">Mercedes-Benz B250e 2016</option>
						
						<option value="Mitsubishi,i-MiEV,2012">Mitsubishi i-MiEV 2012</option>
						<option value="Mitsubishi,i-MiEV,2013">Mitsubishi i-MiEV 2013</option>
						<option value="Mitsubishi,i-MiEV,2014">Mitsubishi i-MiEV 2014</option>
						<option value="Mitsubishi,i-MiEV,2016">Mitsubishi i-MiEV 2016</option>
						<option value="Mitsubishi,i-MiEV,2017">Mitsubishi i-MiEV 2017</option>
						
						<option value="Nissan,Leaf,2011">Nissan Leaf 2011</option>
						<option value="Nissan,Leaf,2012">Nissan Leaf 2012</option>
						<option value="Nissan,Leaf,2013">Nissan Leaf 2013</option>
						<option value="Nissan,Leaf,2014">Nissan Leaf 2014</option>
						<option value="Nissan,Leaf,2015">Nissan Leaf 2015</option>
						<option value="Nissan,Leaf+(60+kW-hr+battery+pack),2016">Nissan Leaf (24 kW-hr battery pack) 2016</option>
						<option value="Nissan,Leaf+(60+kW-hr+battery+pack),2016">Nissan Leaf (30 kW-hr battery pack) 2016</option>
						
						<option value="Scion,iQ EV,2013">Scion iQ EV 2013</option>
						
						<option value="smart,fortwo+electric+drive+cabriolet,2011">Smart Fortwo Electric Drive Cabriolet 2011</option>
						<option value="smart,fortwo+electric+drive+coupe,2011">Smart Fortwo Electric Drive Coupe 2011</option>
						<option value="smart,fortwo+electric+drive+convertible,2013">Smart Fortwo Electric Drive Convertible 2013</option>
						<option value="smart,fortwo+electric+drive+coupe,2013">Smart Fortwo Electric Drive Coupe 2013</option>
						<option value="smart,fortwo+electric+drive+convertible,2014">Smart Fortwo Electric Drive Convertible 2014</option>
						<option value="smart,fortwo+electric+drive+coupe,2014">Smart Fortwo Electric Drive Coupe 2014</option>
						<option value="smart,fortwo+electric+drive+convertible,2015">Smart Fortwo Electric Drive Convertible 2015</option>
						<option value="smart,fortwo+electric+drive+coupe,2015">Smart Fortwo Electric Drive Coupe 2015</option>
						
						<option value="Tesla,Model+S,2012">Tesla Model S 2012</option>
						<option value="Tesla,Model+S+(40+kW-hr+battery+pack),2013">Tesla Model S (40 kW-hr battery pack) 2013</option>
						<option value="Tesla,Model+S+(60+kW-hr+battery+pack),2013">Tesla Model S (60 kW-hr battery pack) 2013</option>
						<option value="Tesla,Model+S+(85+kW-hr+battery+pack),2013">Tesla Model S (85 kW-hr battery pack) 2013</option>
						<option value="Tesla,Model+S+(60+kW-hr+battery+pack),2014">Tesla Model S (60 kW-hr battery pack) 2014</option>
						<option value="Tesla,Model+S+(85+kW-hr+battery+pack),2014">Tesla Model S (85 kW-hr battery pack) 2014</option>
						<option value="Tesla,Model+S+AWD+(85+kW-hr+battery+pack),2014">Tesla Model S AWD (85 kW-hr battery pack) 2014</option>
						<option value="Tesla,Model+S+(60+kW-hr+battery+pack),2015">Tesla Model S (60 kW-hr battery pack) 2015</option>
						<option value="Tesla,Model+S+(85+kW-hr+battery+pack),2015">Tesla Model S (85 kW-hr battery pack) 2015</option>
						<option value="Tesla,Model+S+(90+kW-hr+battery+pack),2015">Tesla Model S (90 kW-hr battery pack) 2015</option>
						<option value="Tesla,Model+S+AWD+-+70D,2015">Tesla Model S AWD - 70D 2015</option>
						<option value="Tesla,Model+S+AWD+-+85D,2015">Tesla Model S AWD - 85D 2015</option>
						<option value="Tesla,Model+S+AWD+-+90D,2015">Tesla Model S AWD - 90D 2015</option>
						<option value="Tesla,Model+S+AWD+-+P85D,2015">Tesla Model S AWD - P85D 2015</option>
						<option value="Tesla,Model+S+AWD+-+P90D,2015">Tesla Model S AWD - P90D 2015</option>
						<option value="Tesla,Model+S+(70+kW-hr+battery+pack),2016">Tesla Model S (70 kW-hr battery pack) 2016</option>
						<option value="Tesla,Model+S+(75+kW-hr+battery+pack),2016">Tesla Model S (75 kW-hr battery pack) 2016</option>
						<option value="Tesla,Model+S+(85+kW-hr+battery+pack),2016">Tesla Model S (85 kW-hr battery pack) 2016</option>
						<option value="Tesla,Model+S+(90+kW-hr+battery+pack),2016">Tesla Model S (90 kW-hr battery pack) 2016</option>
						<option value="Tesla,Model+S+AWD+-+70D,2016">Tesla Model S AWD - 70D 2016</option>
						<option value="Tesla,Model+S+AWD+-+75D,2016">Tesla Model S AWD - 75D 2016</option>
						<option value="Tesla,Model+S+AWD+-+85D,2016">Tesla Model S AWD - 85D 2016</option>
						<option value="Tesla,Model+S+AWD+-+90D,2016">Tesla Model S AWD - 90D 2016</option>
						<option value="Tesla,Model+S+AWD+-+P85D,2016">Tesla Model S AWD - P85D 2016</option>
						<option value="Tesla,Model+S+AWD+-+P90D,2016">Tesla Model S AWD - P90D 2016</option>
						<option value="Tesla,Model+X+AWD+-+75D,2016">Tesla Model X AWD - 75D 2016</option>
						
						<option value="Toyota,RAV4+EV,2012">Toyota RAV4 EV 2012</option>
						<option value="Toyota,RAV4+EV,2013">Toyota RAV4 EV 2013</option>
						<option value="Toyota,RAV4+EV,2014">Toyota RAV4 EV 2014</option>
						
						<option value="Volkswagen,e-Golf,2015">Volkswagen e-Golf 2015</option>

					</select>
  					</div>
				</div>
				<div class="form-group">
    				<div class="col-sm-6">
  					<label for="sel1">How many miles do you drive per day in average?</label>
  					<select class="form-control" id="sel1">
						<option value="ETOU-A">5</option>
						<option value="ETOU-B">10</option>
						<option value="EV">15</option>
						<option value="E1">20</option>
						<option value="EV">25</option>
						<option value="E1">30</option>
						<option value="E1">35</option>
						<option value="EV">40</option>
						<option value="E1">45</option>
						<option value="E1">50</option>
						<option value="E1">60</option>
						<option value="E1">75</option>
						<option value="E1">100</option>
					</select>
  					</div>
				</div>
				<div class="form-group">
    				<div class="col-sm-6">
  					<label for="sel1">What type of charger you use?</label>
  					<select class="form-control" id="sel1">
						<option value="1">Level 1 (120V cordset)</option>
						<option value="2">Level 2 (25 amp breaker)</option>
						<option value="3">Level 2 (40 amp breaker)</option>
						<option value="4">Level 2 (50 amp breaker)</option>
					</select>
  					</div>
				</div>
				<div class="form-group">
    				<div class="col-sm-6">
  					<label for="sel1">Do you regularly charge your Electric Vehicle inside your home?</label>
  					<select class="form-control" id="sel1">
						<option>Yes</option>
						<option>No</option>
					</select>
  					</div>
				</div>
				
				<p class="text-primary"><h2 class="text-primary bg-success">ESTIMATE</h2></p>
				
    			<div class="form-group">
      				<div class="col-sm-10">
      					<button class="btn btn-danger" type="reset">Reset Settings</button>
      					<button type="submit" class="btn btn-success">Estimate Now</button>
      				</div>
    			</div>
  			</form>
		</td>
        <td>
        	<div id="watthot_container" style="position: fixed;min-width: 500px; height: 500px; margin: 0 auto"></div>
        	
        </td>
        
      </tr>
     
    </tbody>
  </table>
</div>
      
</body>
</html>